* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #e579e6;
    height: 96px;
    margin: 20px 0;
}

.yellow {
    background-color: #E1D67A;
    height: 340px;
    margin: 20px 0;
}